/* Button */

	button {
		cursor: pointer;
	}

	.button {
		appearance: none;
		border: solid _size(border-width) _palette(border);
		border-radius: _size(border-radius);
		color: inherit;
		display: inline-block;
		height: _size(element-height);
		line-height: _size(element-height);
		padding: 0;
		text-align: center;
		text-decoration: none;
		transition: background-color _duration(medium), color _duration(medium);
		white-space: nowrap;

		&:after {
			margin-left: 0.35em;
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			position: relative;
			text-align: left;
			width: 100%;

			&:after {
				position: absolute;
				right: 0;
			}
		}

		&.small {
			font-size: 0.7em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.disabled,
		&:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		// Create all color variations
		@each $i in map-keys(_palette(highlight)) {
			&.style-#{$i} {
				background-color: _palette(highlight, $i);
				color: #fff;
				font-weight: _font(weight-bold);
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					background-color: lighten(_palette(highlight, $i), 5);
				}

				&:active {
					background-color: darken(_palette(highlight, $i), 5);
				}

				@include mq($from: sm) {
					padding: 0 0.25em 0 0.75em;

					&.no-icon {
						padding: 0 1.5em;
					}
				}
			}
		}
	}
