/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;
	}

	.form-group {
		margin-bottom: _size(element-margin);
	}

	.help-block {
		color: _palette(fg-light);
		font-size: 0.95em;
		font-style: italic;
		margin-top: 0.5em;

		.has-error & {
			color: _palette(state, error);
		}
	}

	label {
		color: _palette(highlight, 1);
		display: block;
		margin: 0 0 (_size(element-margin) * 0.35) 0;

		&[for] {
			cursor: pointer;
		}

		.has-error & {
			color: _palette(state, error);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	select,
	textarea {
		background-color: _palette(bg);
		border-radius: _size(border-radius);
		border: solid _size(border-width) _palette(border);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 0.5em;
		text-decoration: none;
		width: 100%;

		&.alt {
			background-color: _palette(bg-alt);
			border-color: transparent;
		}

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: _palette(highlight, 1);
			box-shadow: 0 0 0 _size(border-width) _palette(highlight, 1);
		}

		.mezzanine-form & {
			max-width: 350px;
		}

		.has-error & {
			border-color: rgba(_palette(state, error),  0.75);

			&:focus {
				border-color: _palette(state, error);
				box-shadow: 0 0 0 _size(border-width) _palette(state, error);
			}
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	select {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	.multiplechoicefield, .choicefield {
		> ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

		> li {
				display: inline-block;
				padding-left: 0;
			}

			label {
				color: inherit;
				margin-bottom: 0;
				padding-right: 1em;
			}
		}

		&input {
			margin: 0;
		}
	}

	.booleanfield {
		input {
			margin: 0;
		}
	}

	.datefield, .datetimefield {
		max-width: 450px;

		> label, > .help-block {
			display: block;
		}
	}

	.datefield {
		> select {
			display: inline-block;
			width: 30%;
			margin-right: 2%;
		}
	}

	.datetimefield {
		> select {
			display: inline-block;
			margin-right: 2%;
			width: 22%;
		}

		> input[type="text"] {
			display: inline-block;
			width: 25%;
		}
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}
