$padding: _size(element-margin);

.panel-item {
	@include padding($padding, $padding);

	background-color: _palette(bg);
	border: solid _size(border-width) _palette(border);
	border-radius: _size(border-radius);
	margin-bottom: _size(element-margin);

	&.-alt {
		background-color: _palette(bg-alt);
		border: none;
	}

	// Generate all color variations
	@each $i in map-keys(_palette(highlight)) {
		// stylelint-disable-next-line rscss/class-format
		&.-style-#{$i} {
			background-color: _palette(highlight, $i);
			border: none;
			color: #fff;

			// stylelint-disable-next-line
			h2, h3, h4, h5, h6, a, strong {
				color: inherit;
			}
		}
	}
}
