/* Image */

	.image {
		line-height: 0; // Prevent extra-height

		&.left {
			float: left;
			margin-bottom: _size(element-margin);
			margin-right: _size(element-margin);
			max-width: 40%;
		}

		&.right {
			float: right;
			margin-bottom: _size(element-margin);
			margin-left: _size(element-margin);
			max-width: 40%;
		}
	}
