{% load pages_tags mezzanine_tags mezzy_tags staticfiles %}
{% comment %}{% load_theme as theme %}{% endcomment %}

<!DOCTYPE html>
<html class="no-js">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

	{% if theme.favicon %}
	<link rel="shortcut icon" href="{{ theme.favicon.url }}">
	{% endif %}

	{% ifinstalled mezzanine.blog %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog_post_feed' 'rss' %}">
	<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog_post_feed' 'atom' %}">
	{% endifinstalled %}

	{% compress css %}
	<link rel="stylesheet" href="{% static 'build/main.css' %}">
	{% endcompress %}

	{% compress css inline %}
	{% block inline_css %}{% endblock %}
	{% endcompress %}

	{% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}body{% endblock %}">

{# Skip to main #}
	<a href="#main" class="skip-to-main">Skip to main content</a>

{# Messages #}
	{% nevercache %}
	{% if messages %}
	<div class="container messages">
	{% for message in messages %}
	<div class="alert alert-dismissable alert-{{ message.tags }}">
		<button type="button" class="close" aria-hidden="true">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	</div>
	{% endif %}
	{% endnevercache %}

{# Banner #}
	{% block banner %}{% endblock %}

{# All content #}
	<main id="main" role="main">
		{% block all_content %}
			<div class="section-wrapper">
				<div class="container">
					{% block main %}{% endblock %}
				</div>
			</div>
		{% endblock all_content %}
	</main>

{# Footer #}
	<footer id="footer">
		<div class="container">
			{{ theme.footer_content|richtext_filters|microtemplate|safe }}
		</div>
	</footer>

{# Scripts #}
	{% compress js %}
	<script src="{% static 'build/main.js' %}"></script>
	{% endcompress %}

	{% compress js inline %}
	{% block inline_js %}{% endblock %}
	{% endcompress %}

	{% block extra_bottom %}{% endblock %}

	{% if user.is_staff %}
		{# Add jQuery for staff users (needed for the inline edit tools) #}
		<script src="{% static 'mezzanine/js/'|add:settings.JQUERY_FILENAME %}"></script>
	{% endif %}

	{% include "includes/footer_scripts.html" %}

</body>
</html>
