/* stylelint-disable rscss/class-format */
/* stylelint-disable rscss/no-descendant-combinator */
/* stylelint-disable selector-list-comma-newline-after */

/* Disable some stylelint rules because:
   1. These helpers are used by site editors and we don't need them to learn
      RSCSS naming conventions to access them.
   2. Some of these are pulled from Bootstrap, and we want to maintain the
      names to reference their docs. */

// Hide content but keep it available for screen readers
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-small {
	font-size: 0.8em;
}

// Colored text
@each $i in map-keys(_palette(highlight)) {
	.text-style-#{$i} {
		color: _palette(highlight, $i);
	}
}

/* Responsive floats */

.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }

@each $breakpoint in map-keys($mq-breakpoints) {
	@include mq($from: $breakpoint) {
		.float-#{$breakpoint}-left { float: left; }
		.float-#{$breakpoint}-right { float: right; }
		.float-#{$breakpoint}-none { float: none; }
	}
}

/* Responsive embeds (thanks Bootstrap 4!)
   https://github.com/twbs/bootstrap/blob/6a5a83e02c336f6ba73a5dc5cd4cb28cc2f8f497/scss/_responsive-embed.scss */

.embed-responsive {
	display: block;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;

	&::before {
		content: "";
		display: block;
	}

	&.padded {
		.embed-responsive-item,
		iframe, embed, object, video {
			transform: scale(0.925);
			transform-origin: center top;
		}
	}

	.embed-responsive-item,
	iframe, embed, object, video {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.embed-responsive-21by9 {
	&::before {
		padding-top: percentage(9 / 21);
	}
}

.embed-responsive-16by9 {
	&::before {
		padding-top: percentage(9 / 16);
	}
}

.embed-responsive-4by3 {
	&::before {
		padding-top: percentage(3 / 4);
	}
}

.embed-responsive-1by1 {
	&::before {
		padding-top: percentage(1 / 1);
	}
}
