body {
	background-color: _palette(bg);
	color: _palette(fg);
}

html,
body,
input,
select,
textarea,
button {
	font-family: _font(family);
	font-size: 15px;
	font-weight: _font(weight);
	line-height: 1.5;
}

a {
	color: _palette(highlight, 1);
	cursor: pointer;
	text-decoration: none;
	transition: color _duration(medium), border-color _duration(medium);

	&:active,
	&:focus,
	&:hover {
		color: _palette(highlight, 1);
		text-decoration: underline;
	}
}

strong,
b {
	font-weight: _font(weight-bold);
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 _size(element-margin) 0;

	// Collapse empty paragraphs with just <br>
	> br:only-child {
		display: none;
	}
}

// stylelint-disable-next-line
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.25;
	margin: 0 0 (_size(element-margin) * 0.5) 0;

	ul + &,
	ol + &,
	p + & {
		margin-top: (_size(element-margin) * 1.2);
	}

	> a {
		color: inherit;
		text-decoration: none;
	}
}

h1,
.h1 {
	font-family: _font(family-heading);
	font-size: 2.5rem;
}

h2,
.h2 {
	font-family: _font(family-heading);
	font-size: 2rem;
}

h3,
.h3 {
	font-family: _font(family-heading);
	font-size: 1.65rem;
}

h4,
.h4 {
	font-family: _font(family);
	font-size: 1.15rem;
}

h5,
.h5 {
	font-family: _font(family);
	font-size: 1rem;
}

h6,
.h6 {
	font-family: _font(family);
	font-size: 0.85rem;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid (_size(border-width) * 4) _palette(border);
	font-style: italic;
	margin: 0 0 _size(element-margin) 0;
	padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}

code {
	background-color: _palette(border-bg);
	border: solid _size(border-width) _palette(border);
	border-radius: _size(border-radius);
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(element-margin) 0;
	-webkit-overflow-scrolling: touch;

	> code {
		display: block;
		line-height: 1.75;
		overflow-x: auto;
		padding: 1em 1.5em;
	}
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) _palette(border);
	margin: _size(element-margin) 0;

	&.-major {
		margin: (_size(element-margin) * 1.5) 0;
	}
}
